.products {
  text-align: center;
  padding: 20px;
  background-color: #0f0f0f; /* Dark background color */
  color: #fff; /* Text color */
}

.titulo {
  font-size: 24px;
  margin-bottom: 20px;
}

.slider-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.slick-dots {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.slick-dots li {
  margin: 0 5px;
}

.producto {
  border: none; /* Remove the border */
  background-color: transparent; /* Transparent background color for the product card */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px; /* Add padding for better separation */
  text-align: left; /* Align product information to the left */
  transition: transform 0.3s; /* Add a smooth transition for zoom effect */
  margin: 50px; /* Add margin to create space between products */
}


.producto img {
  max-width: 100%;
  height: auto;
  transition: transform 0.3s; /* Add a smooth transition for image zoom effect */
}

/* Zoom effect on image hover */
.producto:hover img {
  transform: scale(1.1); /* Zoom effect on image hover (adjust the scale factor as needed) */
}

.producto h3 {
  font-size: 18px;
  margin-top: 10px;
  color: #fff; /* Text color for product name */
}

.producto p {
  font-size: 16px;
  margin: 10px 0;
  color: #ccc; /* Text color for category and price */
}

.producto button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.producto button:hover {
  background-color: #0056b3;
}
