.body {
    background-color: #0F0F0F;
    background-image: url("./NotFound.png");
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    height: 100vh;
}

.container404 {
    text-align: center;
    margin-top: 20px;
}

.titulo-page-not-found{
    color: #6A63FE;
    font-size: 400px;
    margin: 0;
}

h3 {
    color: white;
    font-size: 20px;
    margin-top: -20px; 
}

.container404 .inicio-button {
    background-color: white;
    color: #0F0F0F;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    padding: 5px 20px;
    margin-top: 20px;
}

.container404 .inicio-button:hover {
    background-color: #0F0F0F;
    color: white;
}
