.input-search {
    font-size: 18px; /* Tamaño de fuente más grande */
    padding: 10px; /* Espacio de relleno para aumentar el tamaño */
    width: 200px; /* Ancho del input (ajusta según tus necesidades) */
    height: 30px; /* Altura del input (ajusta según tus necesidades) */
    border-radius: 40px;
  }