
.container {
  padding: 10px;
}

.light-text {
  color: #000; 

}

.dark-text {
  color: #fff; /* Cambia el color del texto para el tema oscuro */
}

.button-modal{
  background-color: #333;
  color:white;
  border: none;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.total {
  font-weight: 900;
  font-size: 18px;
}
.left {
  display: flex;
  margin-left: -90px;
  margin-top: 7px;
}
.quantity{
  width: 75px;
}
.right {
  display: flex;
  gap: 20px;
  font-size: 13px; 
  margin-right: -90px;
}

.carrito {
  width: 30px;
  height: 30px;
  margin-top: 15px;
  cursor: pointer;
}

.title {
  cursor: pointer;
  font-size: 15px;
  display: flex;
  margin-top: 20px;
}

.home {
  cursor: pointer;
  font-size: 26px;
}

.boton {
  background-color: #0056b3;
  color: #fff;
  border-radius: 20px;
  border: none;
  padding: 13px;
}

.boton:hover {
  background-color: #fff;
  color: #007bff;
}

@media (max-width: 1140px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .left {
    order: 1; 
    margin-bottom: -20px;
    display: flex;
  }
  .right {
    order: 2;
  }
}
