.products-filter {
    display: flex;
    margin-bottom: 20px;
  }
  
  .products-filter__control select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: border-color 0.3s ease-in-out;
  }
  
  .products-filter__control select:hover {
    border-color: #007bff; /* Cambia el color del borde al pasar el mouse sobre el select */
  }
  
  .products-filter__control select option:first-child {
    font-weight: bold;
    color: #555;
  }
  