.content {
  overflow-y: hidden;
}
.img-fluid2{
  width: 100%;
}
.product {
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 10px;
  padding: 5px;
}

.carousel-caption h3 {
  font-size: 24px;
}

.carousel-caption p {
  font-size: 17px; 
}
