
.light-details{
  margin-top: 20px;
  margin-left: 60px;
  color: #0f0f0f;
}
.button-remove-from-cart{
  background-color: rgb(240, 38, 38);
  border: none;
  color: white;
  border-radius: 3px;
  margin-right: 10px;
}
.light-details h2 {
  font-size: 27px;
  margin-bottom: 13px;
}

.light-details p {
  font-size: 20px;
  max-width: 1000px;
}
.dark-details{
  margin-top: 20px;
  margin-left: 60px;
  color: #fff;
}

.dark-details h2 {
  font-size: 27px;
  margin-bottom: 13px;
}

.dark-details p {
  font-size: 20px;
  max-width: 1000px;
}

.button-details,
.button-details-delete {
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.button-details:hover {
  background-color: #333;
  color: white;
}

.button-details-delete:hover {
  background-color: white;
  color: black;
}

.button-details {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.button-details-delete {
  background-color: black;
  color: white;
  border-radius: 10px;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.confirm-button {
  background: red;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.product-details-container {
  display: flex;
  align-items: flex-start;
}

.light-details-img{
  width: 28%;
  border-radius: 25px;
  padding: 5px;
  background-color: #0f0f0f;
  margin-right: 20px;
  margin-top: 20px;
  margin-left: 60px;
}
.dark-details-img{
  width: 28%;
  border-radius: 25px;
  padding: 5px;
  background-color: #E5E5E5;
  margin-right: 20px;
  margin-top: 20px;
  margin-left: 60px;
}
.imagen-details-carrito{
  width: 40%;
  border-radius: 25px;
  padding: 5px;
  background-color: #0f0f0f;
  margin-right: 50px;
}
.producto-info {
  margin-left: 30px;
  margin-top: 40px;
}
.producto-info h1 {
  font-size: 50px;
}
.producto-info p {
  margin-bottom: 20px;
  font-size: 17px;
}

.carrito-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
}

.carrito-item-details {
  margin-top: 50px;
  flex: 1;
  text-align: right;
}

.total {
  text-align: right;
  margin-top: 10px;
  margin-right: 20px;
  font-weight: bold;
}
.name-carrito{
  color:black;
  font-size: 20px;
}

.button-pagar {
  background-color: #007bff; /* Color de fondo azul */
  color: #fff; 
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin: 10px;
  transition: background-color 0.3s, color 0.3s; /* Agrega una transición suave */
}

.button-pagar:hover {
  background-color: #0056b3; /* Cambio de color de fondo al pasar el mouse (azul más oscuro) */
}

.button-seguir-comprando {
  background-color: #007bff; /* Color de fondo azul */
  color: #fff; /* Color de texto blanco */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin: 10px;
  transition: background-color 0.3s, color 0.3s; /* Agrega una transición suave */
}

.button-seguir-comprando:hover {
  background-color: #0056b3; /* Cambio de color de fondo al pasar el mouse (azul más oscuro) */
}

