/* Establece el fondo de la página */
body {
  margin: 0;
  padding: 0;
  background-color: #0F0F0F;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.8; /* Opacidad para el fondo detrás del cuadro de inicio de sesión */
  background-image: url('fondo.png');
  background-size: 100% 100%; /* Ajusta la imagen al 100% del ancho y alto de la ventana */
  background-repeat: no-repeat;
  background-attachment: fixed; /* Fija el fondo en su posición */
}

/* Establece el cuadro de inicio de sesión */
.login-box {
  /* background-color: black; Fondo negro con opacidad */
  color: white;
  width: 600px; /* Ancho del cuadro de inicio de sesión */
  height: 100vh; /* Alto del cuadro de inicio de sesión (100% del alto de la ventana) */
  position: fixed; /* Hace que el cuadro de inicio de sesión sea estático y no se mueva con el desplazamiento */
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Ajusta la opacidad del fondo detrás del cuadro de inicio de sesión solo a la derecha */
.login-box::before {
  content: "";
  background-color: black; 
   position: absolute;
   width: 700px; /* Ancho del cuadro de inicio de sesión */
   height: 1000vh;
  top: 0;
  right: 1%; 
  opacity: 0.8; 
  transform-origin: 0 0; 
  z-index: -1; 
  transform: rotate(-10deg);
}

.login-box h2 {
  font-size: 30px;
  line-height: .5; /* Ajusta el line-height para centrar verticalmente el texto */
  margin-left: 20px; /* Centra el texto horizontalmente */
}

/* Aumentar el tamaño de los campos de entrada (inputs) */
.login-box input[type="email"],
.login-box input[type="password"] {
  width: 100%;
  padding: 15px; /* Ajusta el espacio alrededor del texto en los inputs */
  margin: 10px 0;
  border: none;
  border-radius: 15px;
  font-size: 15px; /* Ajusta el tamaño del texto dentro de los inputs */
}

/* Aumentar el tamaño del botón */
.login-box .signin-button {
  width: 100%;
  padding: 15px 15px; /* Ajusta el espacio alrededor del texto en el botón */
  font-size: 16px; /* Ajusta el tamaño del texto en el botón */
}

.login-box input[type="email"]::placeholder,
.login-box input[type="password"]::placeholder {
  color: #999; /* Color del texto de marcador de posición */
}

/* Estiliza el botón de inicio de sesión */
.login-box .signin-button {
  background-color: white; /* Fondo blanco */
  color: #0F0F0F; /* Color del texto #0F0F0F */
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.login-box .signin-button:hover {
  background-color: #0F0F0F;
  color: white; /* Cambia el color de fondo al pasar el mouse por encima */
}
